{% extends 'layout.html' %}

{% block body%}


<div>
    <table class="align-center table">
        <thead>
         <tr> <p CLASS="h3 align-center">ADMINISTRAR BASES DE DATOS</p> </tr>
            <tr>
            	
                <th>
                    <ul class="navbar-nav">              
                        <li class="nav-item">
                            <button class=" btn btn-secondary rounded"><a class="nav-link" href="/tabla_obituarios">Tabla Obituarios</a></button>
                        </li>
                    </ul>
                </th>
                <th> 
                    <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <button class=" btn btn-secondary rounded"><a class="nav-link" href="/tabla_condolencias">Tabla Condolencias</a></li></button>
                        </li>
                    </ul>
                </th>
                <th>
                    <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <button class=" btn btn-secondary rounded"><a class="nav-link" href="/tabla_epitafios">Tabla Epitafios</a></button>
                        </li>
                    </ul>
                </th>
                <th>
                    <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <button class=" btn btn-secondary rounded"><a class="nav-link" href="/tabla_eterna">Tabla Jardín Eterna Memoria</a></button>
                        </li>
                    </ul>
                </th>
                <th>
                    <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <button class=" btn btn-secondary rounded"><a class="nav-link" href="/clientes">Clientes</a></button>
                        </li>    
                    </ul>
                </th>
                <th>
                    <ul class="navbar-nav"> 
                        <li class="nav-item">
                            <button class=" btn btn-secondary rounded"><a class="nav-link" href="/tabla_vinculacion">Tabla Vinculación</a></button>
                        </li>
                    </ul>
                </th>

            </tr>                                                                
        </thead>
    </table>    
</div>

{% endblock %}
